%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/log/miner"}
    ]},
  {blockchain,
    [
     {key, {ecc, [{key_slot, 0}, {onboarding_key_slot, 15}, {bus, "i2c-0"}, {address, 16#60}]}}
    ]},
  {miner,
    [
     {gateway_and_mux_enable, true},
     {gateways_run_chain, false}, %% if false, gateways will no longer follow the chain
     {use_ebus, true},
     {radio_device, { {0,0,0,0}, 1680,
                      {0,0,0,0}, 31341} }
    ]}
].
