[Unit]
Description=Run the external IP check every 6 hours.

[Timer]
OnBootSec=21600
OnUnitActiveSec=21600
AccuracySec=1ms

[Install]
WantedBy=timers.target
