[Unit]
Description=Run the local IP status check every 8 hours.

[Timer]
OnBootSec=28800
OnUnitActiveSec=28800
AccuracySec=1ms

[Install]
WantedBy=timers.target
