[Unit]
Description=Run the Wifi status check every 15 seconds.

[Timer]
OnBootSec=15
OnUnitActiveSec=15
AccuracySec=1ms

[Install]
WantedBy=timers.target
