body {
	background-color: rgb(0,0,0);
	font-family: Arial;
	color: #ffffff;
}

h1 {
	margin: 0 0 20px 0;
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
}

h2 {
	margin: 0 0 10px 0;
	font-size: 1.1em;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

a {
	color: rgb(43 255 151);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

body .closeable_prompt_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

body .closeable_prompt_overlay #closeable_prompt {
	width: 320px;
	height: auto;
	padding: 20px;
	border-radius: 10px;
	margin: 5% auto 0 auto;
	background-color: rgb(77,77,77);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

body .closeable_prompt_overlay #closeable_prompt #prompt_title {
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

body .closeable_prompt_overlay #closeable_prompt #prompt_title h2 {
	width: 90%;
	color: rgb(43 255 151);
	font-family: Arial;
	color: #ffffff;
	display: inline-block;
}

body .closeable_prompt_overlay #closeable_prompt #prompt_title #CloseButton {
	width: 25px;
	height: 25px;
}

body .closeable_prompt_overlay #closeable_prompt #prompt_body label {
	font-family: Arial;
	color: #ffffff;
	width: 100%;
	font-size: 0.8em;
	font-weight: bold;
}

body .closeable_prompt_overlay #closeable_prompt #prompt_body input {
	margin: 5px 0 15px 0;
	padding: 0 2%;
	width: 96%;
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
	height: 25px;
	outline: none;
}

body .closeable_prompt_overlay #closeable_prompt button {
	padding: 2px;
	background-color: rgba(255,255,255,0.2);
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	color: rgba(255,255,255,0.9);
	font-weight: bold;
}


body .closeable_prompt_overlay #closeable_prompt #prompt_footer #blockchain_clear_no, #blockchain_clear_yes {
	margin: 0 10px 0 0;
	width: 50px;
	height: 30px;
}

body .closeable_prompt_overlay #closeable_prompt button:hover {
	cursor: pointer;
	color: rgb(255,255,255);
}

body .closeable_prompt_overlay #closeable_prompt #prompt_body p {
	margin: 0 0 20px 0;	
}

body .closeable_prompt_overlay #closeable_prompt #prompt_footer #reset_password_button, #set_wifi_button {
	width: 60px;
	height: 30px;
	position: relative;
	left: 260px;
}

body .closeable_prompt_overlay #closeable_prompt select {
	margin: 5px 0 15px 0;
	padding: 0;
	width: 100%;
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
	height: 25px;
	outline: none;
}

body .closeable_prompt_overlay #closeable_prompt select option {
	padding: 0;
	margin: 0;
	height: auto;
	min-height: default;
}


#main {
	margin: 0 auto 40px auto;
	background-color: rgba(255,255,255,0.3);
	width: 990px;
	color: #ffffff;
	border-radius: 10px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#main nav {
	width: 10%;
	float: left;
}

#main #content {
	width: 65%;
	padding: 0 2%;
	float: left;
	border-width: 0 1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.2);
}

#main #status_panel {
	width: 18%;
	padding: 0 0 0 2%;
	float: left;
}

#main #status_panel #info_height_panel {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
}

#main #status_panel #info_height_panel li {
	padding: 0 0 5px 0;
}

#main #status_panel #public_key_panel {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

#main #status_panel #public_key_panel a {
	color: rgb(43 255 151);
	text-decoration: none;
	font-size: 1.1em;	
}

#main #status_panel #public_key_panel a:hover {
	text-decoration: underline;
}

#main #status_panel h3 {
	padding: 10px 0;
	font-size: 1.5em;
	color: rgba(255,255,255,0.8);
	text-shadow: 1px 1px black;
}

#main #status_panel #info_height_panel #info_height_data {
	font-weight: bold;
	font-size: 1em;
}

#main #status_panel #info_height_panel .icon-grid {
	font-size: 60px;
}

#main #status_panel #public_key_panel .icon-key {
	font-size: 60px;
}

#main #content #miner_info ul {
	margin: 10px 0;
	width: 100%;
	float: left;
}

#main #content #miner_info ul li {
	margin: 5px 0;
	height: 20px;
}

#main #content #toggle_buttons ul {
	width: 100%;
	float: left;
}

#main #content #toggle_buttons ul li {
	width: 64px;
	float: left;
	margin: 0 20px 0 0;
	background-color: rgba(255,255,255,0.2);
	border-radius: 10px;
	border-bottom: 10px solid;
	box-shadow: 1px 1px #000000;
}

#main #content #toggle_buttons .enabled {
	border-color: rgba(43, 255, 151, 0.5);
}

#main #content #toggle_buttons .disabled {
	border-color: rgba(255, 44, 0, 0.5);
}

#main #content #toggle_buttons a {
	font-size: 48px;
	padding: 6px 0 4px 0;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	display: block;
}

#main #content #toggle_buttons li:hover {
	box-shadow: 2px 2px 5px rgb(43, 255, 151, 0.3);
}

header {
	width: 1010px;
	margin: 0 auto;
	padding: 20px 0;
}


header #logo_container {
	width: 30%;
	float: left;
}

header #power_container {
	width: 70%;
	float: left;
	text-align: right;
	color: #ffffff;
}

header #power_container a {
	color: #ffffff;
	font-size: 3em;
	text-decoration: none;
}

header #power_container a:hover {
	color: rgba(255,255,255, 0.7);
}

#main nav ul li {
	height: 40px;
	width: 90%;
	margin: 0 5% 10px 5%;
}

#main nav ul li a {
	height: 80%;
	width: 90%;
	padding: 20% 0 0 0;
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-family: Arial;
}

#main nav ul li.active_page a .text {
	text-decoration: underline;
	text-decoration-color: rgba(43, 255, 151, 0.5);
}

#main nav ul li a:hover {
	color: rgba(255,255,255, 0.7);
}

#main nav ul:first-child a {
	padding: 5% 0 0 0;
}

#main nav ul li a [class^="icon-"] {
	padding: 0 10% 0 0;
}


#main #content #tools_buttons ul {
	width: 100%;
	float: left;
}

#main #content #tools_buttons ul li {
	width: 64px;
	padding: 5px;
	float: left;
	margin: 0 20px 0 0;
	background-color: rgba(255,255,255,0.2);
	border-radius: 10px;
	box-shadow: 1px 1px #000000;
}

#main #content #tools_buttons ul li:hover {
	box-shadow: 2px 2px 5px rgb(43, 255, 151, 0.3);
}

#main #content #tools_buttons ul li a {
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	height: 84px;
}

#main #content #tools_buttons ul li#fast_sync_button .icon-loop2 {
	font-size: 48px;
	display: block;
}

#main #content #tools_buttons ul li#password_reset_button .icon-key {
	font-size: 48px;
	display: block;
}

#main #content #tools_buttons ul li#set_wireless_button .icon-wifi {
	font-size: 54px;
	display: block;
}

#main #content #tools_buttons ul li#update_dashboard_button .icon-system_update_tv {
	font-size: 50px;
	display: block;
}

#main #content #tools_buttons ul li#update_miner_button .icon-cloud-check {
	font-size: 50px;
	display: block;
}

#main #content #tools_buttons ul li#clear_blockchain_button .icon-warning {
	font-size: 40px;
	display: block;
}


#main #content #tools_buttons ul li#fast_sync_button_disabled .icon-loop2 {
	font-size: 48px;
	display: block;
	animation: syncing 2s infinite;
}

#main #content #tools_buttons ul li#fast_sync_button_disabled:hover {
	box-shadow: 1px 1px black;
}

#main #content #tools_buttons ul li#fast_sync_button_disabled a:hover {
	cursor: default;
}


#main #content #tools_buttons ul li .button_title {
	padding: 10px 0 0 0;
	font-size: 0.7em;
	font-weight: bold;
	display: block;
}

#main #content #peer_list {
	margin: 20px 0;
	padding: 2%;
	width: 96%;
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#main #content #peer_list table {
	text-align: left;
	font-size: 0.9em;
	width: 100%;
}

#main #content #peer_list table th, td {
	padding: 5px 0;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
}

#main #content #peer_list h2 {
	color: rgb(43 255 151);
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#main #content #error_title {
	margin: 20px 0;
	display: block;
	float: left;
}

#main #content #error_title #error_code {
	width: 30%;
	padding: 0 2%;
	font-size: 128px;
	display: block;
	float: left;
	font-family: 'Dosis';
	text-shadow: 2px 2px 5px black;
}

#main #content #error_title #error_text {
	width: 56%;
	padding: 0 2%;
	font-size: 128px;
	display: block;
	float: left;
	font-family: 'JetBrains Mono';
	border-left: 5px solid rgb(43 255 151);
	color: rgba(255,255,255,0.7);
	text-shadow: 2px 2px 5px black;
}

#main #content #rebooting_text {
	font-size: 256px;
	text-align: center;
}

#main #content #rebooting_text #icon {
	width: 100%;
	float: left;
	padding: 50px 0;
	animation: syncing 4s infinite;
}

#main #content #rebooting_text #icon_label {
	width: 100%;
	float: left;
	padding: 20px 0;
	font-size: 48px;
	font-family: 'Dosis';
}


#main #content #log_output {
	width: 92%;
	padding: 20px 4%;
	height: 500px;
	border: none;
	box-shadow: 2px 2px 5px rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
	color: rgb(43 255 151);
	font-family: 'Hack';
	text-shadow: 2px 2px 1px rgb(0,0,0);
	resize: none;
}

#main #content .log_container {
	margin: 40px 0;
}

#main #content .log_container .wrapper {
	width: 100%;
	border: none;
	box-shadow: 2px 2px 5px rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
	color: rgb(43 255 151);
	font-family: 'Hack';
	text-shadow: 2px 2px 1px rgb(0,0,0);
	overflow: hidden;
	border: none;
	outline: none;
}

#main #content .log_container .wrapper .log_output {
	width: 96%;
	padding: 10px 2%;
	height: 400px;
	resize: none;
	overflow-wrap: nowrap;
	font-size: 0.8em;
	background: none;
	color: #ffffff;
	border: none;
	outline: none;
	line-height: 1.5em;
	cursor: auto;
}

#main #content #log_output::-webkit-scrollbar {
	width: 5px;
}

#main #content .log_container .log_output::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	cursor: pointer;
}

#main #content #log_output::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
}

#main #content .log_container .log_output::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
}

#main #content #log_output::-webkit-scrollbar-thumb {
	background: #ffffff;
}

#main #content .log_container .log_output::-webkit-scrollbar-thumb {
	background: #ffffff;
}

#main #content #log_output::-webkit-scrollbar-thumb:hover {
	background: rgba(43, 255, 151, 0.1);
}

#main #content .log_container .log_output::-webkit-scrollbar-thumb:hover {
	background: rgba(43, 255, 151, 0.1);
}

#main #content #StartUpdateButton, #StartBlockChainButton {
	width: 60px;
	height: 25px;
	margin: 0 auto;
	display: block;
	padding: 10px 0 0 0;
	margin: 15px 0 0 0;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	color: rgba(255,255,255,0.9);
	font-weight: bold;
}

#main #content #StartUpdateButton:hover, #StartBlockChainButton:hover {
	color: rgb(255,255,255);
	text-decoration: none;
}

footer {
	width: 100%;
	float: left;
	padding: 40px 0 0 0;
	text-align: center;
	font-size: 0.8em;
}

@keyframes syncing {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(720deg);
	}
}

