@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9wk2at');
  src:  url('fonts/icomoon.eot?9wk2at#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9wk2at') format('truetype'),
    url('fonts/icomoon.woff?9wk2at') format('woff'),
    url('fonts/icomoon.svg?9wk2at#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-system_update_tv:before {
  content: "\e900";
}
.icon-bluetooth_disabled:before {
  content: "\e901";
}
.icon-bluetooth:before {
  content: "\e902";
}
.icon-gps_off:before {
  content: "\e903";
}
.icon-gps_fixed:before {
  content: "\e904";
}
.icon-play_disabled:before {
  content: "\e905";
}
.icon-play_arrow:before {
  content: "\e906";
}
.icon-zap-off:before {
  content: "\e907";
}
.icon-zap:before {
  content: "\e908";
}
.icon-grid:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e90a";
}
.icon-wifi-off:before {
  content: "\e90b";
}
.icon-wifi:before {
  content: "\e90c";
}
.icon-warning:before {
  content: "\e90d";
}
.icon-key:before {
  content: "\e98d";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-list:before {
  content: "\e9ba";
}
